<html>
<head>
  <title>To Do List</title>
</head>
<body>
  <h1>You created a category!</h1>
  <p>{{ newcategory.getName }}</p>
  <p><a href='/'>View your list of things to do.</a></p>
</body>
</html>
